# Gradle
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/

# IntelliJ / Android Studio
.idea/

# Local configuration
local.properties

# macOS
.DS_Store

# Log files
*.log

# Compiled files
*.apk
*.ap_
*.dex
*.class

# Generated folders
/out/
